<h1>Eat Dat Burger!</h1>

<h2>Available Burgers</h2>
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <form action="burger/eat/{{id}}" method="POST">
    <div class="input-group">
    <li class="form-control">{{burger_name}}</li>
    <button class="btn btn-sucess" type="submit">Devour dis burger!</button>
    </div>
    </form>


    {{/unless}}
    {{/each}}
</ul>


<h2>Devoured Burgers</h2>
<ul>
    {{#each burgers}}
    {{#if this.devoured}}
    <li>{{burger_name}}</li>
    {{/if}}
    {{/each}}
</ul>

{{!-- Insert New Burger Form --}}
<h2>Order a Burger</h2>
<form action="burger/create" method="POST">
    <div class="form-group">
        <label>Burger Name</label>
        <input type="text" name="name">
    </div>
    <button type="submit">Make My Burger, Please!</button>
</form>