<h1>Eat Dat Burger!</h1>

<h2>Available Burgers</h2>
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{burger_name}}
    </li>
    {{/unless}}
    {{/each}}
</ul>


<h2>Devoured Burgers</h2>
<ul>
    {{#each burgers}}
    {{#if this.devoured}}
    {{/if}}
    {{/each}}
</ul>

{{!-- Insert New Burger Form --}}
<h2>Add a Burger</h2>
<form action="burger/create" method="POST">
    <div class="form-group">
        <label>Burger Name</label>
        <input type="text" name="name">
    </div>
    <button type="submit">Make My Burger, Please!</button>
</form>